<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="fa">

<head>
    <partial name="PartialViews/_MetaTags" />

    <title>@ViewData["Title"]</title>

    <partial name="PartialViews/_Styles" />
    @RenderSection("Styles",false)
</head>

<body>

<div class="page-wrapper">
    <header class="page-mini-header">
        <div class="container">
            <div class="d-flex justify-content-center pt-3 pb-5">
                <div class="logo-container">
                    <a href="/" class="logo"><img src="./assets/images/logo-dark.png" width="150" alt=""></a>
                </div>
            </div>
            <ul class="checkout-steps">
                <li class="checkout-step-active">
                    <a href="#"><span class="checkout-step-title" data-title="اطلاعات ارسال"></span></a>
                </li>
                <li>
                    <a href="#"><span class="checkout-step-title" data-title="پرداخت"></span></a>
                </li>
                <li>
                    <a href="#"><span class="checkout-step-title" data-title="اتمام خرید و ارسال"></span></a>
                </li>
            </ul>
        </div>
    </header>
    <!-- page-content -->
    @RenderBody()
    <!--  page-content -->
    <partial name="PartialViews/_Footer" />
    <div id="mainModal" class="modal fade">
        <div class="modal-dialog">
            <div id="mainModalContent" class="modal-content">
            </div>
        </div>
    </div>
</div>

<partial name="PartialViews/_Scripts" />
<partial name="PartialViews/_ValidationScriptsPartial" />
@RenderSection("Scripts",false)

</body>
</html>