@page
@model Server.Pages.ShippingModel
@{
    Layout = "Shared/Layouts/_CartLayout";
    var userName = Model.AddressVm.SingleOrDefault(a => a.IsDefault).UserFullName;
}
<main class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 mb-lg-0 mb-4">
                <!-- user-address-selected -->
                <div class="ui-box bg-white user-address-selected mb-5">
                    <div class="ui-box-title">آدرس تحویل سفارش</div>
                    <div class="ui-box-content">
                        <!-- user-addresses-container -->
                        <div class="user-addresses-container">
                            <!-- user-address -->
                            <div class="user-address">
                                <div class="user-address-recipient mb-2">اصفهان،اصفهان</div>
                                <span class="d-block user-contact-items fa-num mb-3">
                                    <span class="user-contact-item">
                                        <i class="ri-user-line icon"></i>
                                        <span class="value"></span>
                                    </span>
                                </span>
                                <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-btn-box="" data-parent=".user-address-selected" data-target="#change-user-address">تغییر یا ویرایش آدرس <i class="ri-arrow-left-s-fill"></i></a>
                            </div>
                            <!--  user-address -->
                        </div>
                        <!--  user-addresses-container -->
                    </div>
                </div>
                <!--  user-address-selected -->
                <!-- user-addresses -->
                <div class="ui-box bg-white user-addresses d-none mb-5" id="change-user-address">
                    <div class="ui-box-title">
                        آدرس تحویل سفارش را انتخاب نمایید:
                        <button class="ui-box-close" data-btn-box-close="" data-parent="#change-user-address" data-show=".user-address-selected"><i class="ri-close-line"></i></button>
                    </div>
                    <div class="ui-box-content">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane py-4 fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                                <div class="user-address-items">
                                    <div class="user-address-item">
                                        <div class="custom-radio-box">
                                            <input type="radio" class="custom-radio-box-input" name="userAddress" id="userAddress01" checked="">
                                            <label for="userAddress01" class="custom-radio-box-label" data-placeholder="انتخاب به عنوان آدرس پیش فرض" data-placeholder-checked="آدرس پیش فرض من است">
                                                <span class="d-block user-address-recipient mb-2">اصفهان،اصفهان</span>
                                                <span class="d-block user-contact-items fa-num mb-3">
                                                    <span class="user-contact-item">
                                                        <i class="ri-mail-line icon"></i>
                                                        <span class="value">9999999999</span>
                                                    </span>
                                                    <span class="user-contact-item">
                                                        <i class="ri-phone-line icon"></i>
                                                        <span class="value">09xxxxxxxxx</span>
                                                    </span>
                                                    <span class="user-contact-item">
                                                        <i class="ri-user-line icon"></i>
                                                        <span class="value">محسن اسماعیلی</span>
                                                    </span>
                                                </span>
                                                <span class="d-flex align-items-center justify-content-end">
                                                    <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="remove-from-addresses-modal">حذف</a>
                                                    <span class="text-secondary mx-2">|</span>
                                                    <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="edit-address-modal">ویرایش</a>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="user-address-item user-add-address-btn-container">
                                        <button class="user-add-address-btn" data-remodal-target="add-address-modal-fields-with-map">
                                            <i class="ri-add-line icon"></i>
                                            <span>@ButtonCaptions.NewAddress</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="link border-bottom-0">
                    <i class="ri-arrow-right-s-fill"></i> بازگشت به سبد
                    خرید
                </a>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="ui-sticky ui-sticky-top">
                    <!-- checkout-bill -->
                    <div class="checkout-bill ui-box bg-white mb-5">
                        <div class="checkout-bill-row">
                            <div class="checkout-bill-row-label">قیمت کالاها (۴)</div>
                            <div class="checkout-bill-row-value">
                                <span class="fs-6">۴۲,۴۲۰,۰۰۰</span> <span class="currency">تومان</span>
                            </div>
                        </div>
                        <div class="checkout-bill-row">
                            <div class="checkout-bill-row-label">تخفیف کالاها</div>
                            <div class="checkout-bill-row-value">
                                <span class="fs-6 text-danger">۵,۰۰۰</span>
                                <span class="currency text-danger">تومان</span>
                            </div>
                        </div>
                        <div class="checkout-bill-row">
                            <div class="checkout-bill-row-label">جمع سبد خرید</div>
                            <div class="checkout-bill-row-value">
                                <span class="fs-6">25,800,000</span> <span class="currency">تومان</span>
                            </div>
                        </div>
                        <div class="checkout-bill-row checkout-bill-note">
                            هزینه‌ی ارسال در ادامه بر اساس آدرس، زمان و نحوه‌ی ارسال انتخابی شما‌ محاسبه و به
                            این مبلغ اضافه خواهد شد
                        </div>
                        <div class="checkout-bill-row checkout-bill-action">
                            <a href="payment.html" class="btn btn-block btn-primary">ادامه فرایند خرید</a>
                        </div>
                        <div class="checkout-bill-row checkout-bill-footer">
                            <div class="checkout-bill-row-label">
                                <span class="d-flex">
                                    <i class="ri-copper-coin-fill text-warning me-1"></i>
                                    <span class="fs-7">امتیاز باشگاه مشتریان</span>
                                </span>
                            </div>
                            <div class="checkout-bill-row-value">۱۵۰ <span class="fs-7 fw-bold text-muted">امتیاز</span></div>
                        </div>
                    </div>
                    <!--  checkout-bill -->
                    <!-- widget -->
                    <div class="widget p-0">
                        <div class="widget-content widget--free-shipping">
                            <div class="free-shipping--detail">
                                <div class="title">ارسال رایگان سفارش</div>
                                <div class="subtitle">سفارش‌های بالای 500 هزار تومان</div>
                            </div>
                            <div class="free-shipping--banner">
                                <img src="./assets/images/theme/free-shipping--banner.png" alt="ارسال رایگان سفارش">
                            </div>
                        </div>
                    </div>
                    <!--  widget -->
                </div>
            </div>
        </div>
    </div>
</main>