@page
@model Server.Pages.ShippingModel
@{
    Layout = "Shared/Layouts/_CartLayout";
}
<main class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 mb-lg-0 mb-4">
                <!-- user-address-selected -->
                <div class="ui-box bg-white user-address-selected mb-5">
                    <div class="ui-box-title">آدرس تحویل سفارش</div>
                    <div class="ui-box-content">
                        <!-- user-addresses-container -->
                        <div class="user-addresses-container">
                            <!-- user-address -->
                            <div class="user-address">
                                <div class="user-address-recipient mb-2">اصفهان،اصفهان</div>
                                <span class="d-block user-contact-items fa-num mb-3">
                                    <span class="user-contact-item">
                                        <i class="ri-user-line icon"></i>
                                        <span class="value">محسن اسماعیلی</span>
                                    </span>
                                </span>
                                <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-btn-box="" data-parent=".user-address-selected" data-target="#change-user-address">تغییر یا ویرایش آدرس <i class="ri-arrow-left-s-fill"></i></a>
                            </div>
                            <!--  user-address -->
                        </div>
                        <!--  user-addresses-container -->
                    </div>
                </div>
                <!--  user-address-selected -->
                <!-- user-addresses -->
                <div class="ui-box bg-white user-addresses d-none mb-5" id="change-user-address">
                    <div class="ui-box-title">
                        آدرس تحویل سفارش را انتخاب نمایید:
                        <button class="ui-box-close" data-btn-box-close="" data-parent="#change-user-address" data-show=".user-address-selected"><i class="ri-close-line"></i></button>
                    </div>
                    <div class="ui-box-content">
                        <!-- nav-tabs -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link fs-6 fw-bold active" id="nav-1-tab" data-bs-toggle="tab" data-bs-target="#nav-1" type="button" role="tab" aria-controls="nav-1" aria-selected="true">
                                    آدرس های شما
                                </button>
                                <button class="nav-link fs-6 fw-bold" id="nav-2-tab" data-bs-toggle="tab" data-bs-target="#nav-2" type="button" role="tab" aria-controls="nav-2" aria-selected="false">
                                    آدرس های مراکز دریافت ما
                                </button>
                            </div>
                        </nav>
                        <!--  nav-tabs -->
                        <!-- tab-content -->
                        <div class="tab-content" id="nav-tabContent">
                            <!-- tab-pane -->
                            <div class="tab-pane py-4 fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                                <!-- user-address-items -->
                                <div class="user-address-items">
                                    <!-- user-address-item -->
                                    <div class="user-address-item">
                                        <div class="custom-radio-box">
                                            <input type="radio" class="custom-radio-box-input" name="userAddress" id="userAddress01" checked="">
                                            <label for="userAddress01" class="custom-radio-box-label" data-placeholder="انتخاب به عنوان آدرس پیش فرض" data-placeholder-checked="آدرس پیش فرض من است">
                                                <span class="d-block user-address-recipient mb-2">اصفهان،اصفهان</span>
                                                <span class="d-block user-contact-items fa-num mb-3">
                                                    <span class="user-contact-item">
                                                        <i class="ri-mail-line icon"></i>
                                                        <span class="value">9999999999</span>
                                                    </span>
                                                    <span class="user-contact-item">
                                                        <i class="ri-phone-line icon"></i>
                                                        <span class="value">09xxxxxxxxx</span>
                                                    </span>
                                                    <span class="user-contact-item">
                                                        <i class="ri-user-line icon"></i>
                                                        <span class="value">محسن اسماعیلی</span>
                                                    </span>
                                                </span>
                                                <span class="d-flex align-items-center justify-content-end">
                                                    <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="remove-from-addresses-modal">حذف</a>
                                                    <span class="text-secondary mx-2">|</span>
                                                    <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="edit-address-modal">ویرایش</a>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <!--  user-address-item -->
                                    <!-- user-address-item -->
                                    <div class="user-address-item">
                                        <div class="custom-radio-box">
                                            <input type="radio" class="custom-radio-box-input" name="userAddress" id="userAddress02">
                                            <label for="userAddress02" class="custom-radio-box-label" data-placeholder="انتخاب به عنوان آدرس پیش فرض" data-placeholder-checked="آدرس پیش فرض من است">
                                                <span class="d-block user-address-recipient mb-2">اصفهان،اصفهان</span>
                                                <span class="d-block user-contact-items fa-num mb-3">
                                                    <span class="user-contact-item">
                                                        <i class="ri-mail-line icon"></i>
                                                        <span class="value">9999999999</span>
                                                    </span>
                                                    <span class="user-contact-item">
                                                        <i class="ri-phone-line icon"></i>
                                                        <span class="value">09xxxxxxxxx</span>
                                                    </span>
                                                    <span class="user-contact-item">
                                                        <i class="ri-user-line icon"></i>
                                                        <span class="value">محسن اسماعیلی</span>
                                                    </span>
                                                </span>
                                                <span class="d-flex align-items-center justify-content-end">
                                                    <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="remove-from-addresses-modal">حذف</a>
                                                    <span class="text-secondary mx-2">|</span>
                                                    <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="edit-address-modal">ویرایش</a>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <!--  user-address-item -->
                                    <!-- user-address-item -->
                                    <div class="user-address-item">
                                        <div class="custom-radio-box">
                                            <input type="radio" class="custom-radio-box-input" name="userAddress" id="userAddress03">
                                            <label for="userAddress03" class="custom-radio-box-label" data-placeholder="انتخاب به عنوان آدرس پیش فرض" data-placeholder-checked="آدرس پیش فرض من است">
                                                <span class="d-block user-address-recipient mb-2">اصفهان،اصفهان</span>
                                                <span class="d-block user-contact-items fa-num mb-3">
                                                    <span class="user-contact-item">
                                                        <i class="ri-mail-line icon"></i>
                                                        <span class="value">9999999999</span>
                                                    </span>
                                                    <span class="user-contact-item">
                                                        <i class="ri-phone-line icon"></i>
                                                        <span class="value">09xxxxxxxxx</span>
                                                    </span>
                                                    <span class="user-contact-item">
                                                        <i class="ri-user-line icon"></i>
                                                        <span class="value">محسن اسماعیلی</span>
                                                    </span>
                                                </span>
                                                <span class="d-flex align-items-center justify-content-end">
                                                    <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="remove-from-addresses-modal">حذف</a>
                                                    <span class="text-secondary mx-2">|</span>
                                                    <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="edit-address-modal">ویرایش</a>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <!--  user-address-item -->
                                    <!-- user-add-address-btn-container -->
                                    <div class="user-address-item user-add-address-btn-container">
                                        <!-- <button class="user-add-address-btn"
                                            data-remodal-target="add-address-modal-without-map">
                                            <i class="ri-add-line icon"></i>
                                            <span>آدرس جدید</span>
                                        </button> -->
                                        <!-- <button class="user-add-address-btn"
                                            data-remodal-target="add-address-modal-without-fields">
                                            <i class="ri-add-line icon"></i>
                                            <span>آدرس جدید</span>
                                        </button> -->
                                        <button class="user-add-address-btn" data-remodal-target="add-address-modal-fields-with-map">
                                            <i class="ri-add-line icon"></i>
                                            <span>آدرس جدید</span>
                                        </button>
                                    </div>
                                    <!--  user-add-address-btn-container -->
                                </div>
                                <!--  user-address-items -->
                            </div>
                            <!--  tab-pane -->
                            <!-- tab-pane -->
                            <div class="tab-pane py-4 fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                                <!-- user-address-items -->
                                <div class="user-address-items">
                                    <!-- user-address-item -->
                                    <div class="user-address-item">
                                        <div class="custom-radio-box">
                                            <input type="radio" class="custom-radio-box-input" name="userAddress" id="userAddress04" checked="">
                                            <label for="userAddress04" class="custom-radio-box-label" data-placeholder="انتخاب به عنوان آدرس پیش فرض" data-placeholder-checked="آدرس پیش فرض من است">
                                                <span class="d-block user-address-recipient mb-2">اصفهان،اصفهان</span>
                                                <span class="d-block user-contact-items fa-num mb-3">
                                                    <span class="user-contact-item">
                                                        <i class="ri-mail-line icon"></i>
                                                        <span class="value">9999999999</span>
                                                    </span>
                                                    <span class="user-contact-item">
                                                        <i class="ri-phone-line icon"></i>
                                                        <span class="value">09xxxxxxxxx</span>
                                                    </span>
                                                    <span class="user-contact-item">
                                                        <i class="ri-user-line icon"></i>
                                                        <span class="value">محسن اسماعیلی</span>
                                                    </span>
                                                </span>
                                                <span class="d-flex align-items-center justify-content-end">
                                                    <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="remove-from-addresses-modal">حذف</a>
                                                    <span class="text-secondary mx-2">|</span>
                                                    <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="edit-address-modal">ویرایش</a>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <!--  user-address-item -->
                                    <!-- user-address-item -->
                                    <div class="user-address-item">
                                        <div class="custom-radio-box">
                                            <input type="radio" class="custom-radio-box-input" name="userAddress" id="userAddress05">
                                            <label for="userAddress05" class="custom-radio-box-label" data-placeholder="انتخاب به عنوان آدرس پیش فرض" data-placeholder-checked="آدرس پیش فرض من است">
                                                <span class="d-block user-address-recipient mb-2">اصفهان،اصفهان</span>
                                                <span class="d-block user-contact-items fa-num mb-3">
                                                    <span class="user-contact-item">
                                                        <i class="ri-mail-line icon"></i>
                                                        <span class="value">9999999999</span>
                                                    </span>
                                                    <span class="user-contact-item">
                                                        <i class="ri-phone-line icon"></i>
                                                        <span class="value">09xxxxxxxxx</span>
                                                    </span>
                                                    <span class="user-contact-item">
                                                        <i class="ri-user-line icon"></i>
                                                        <span class="value">محسن اسماعیلی</span>
                                                    </span>
                                                </span>
                                                <span class="d-flex align-items-center justify-content-end">
                                                    <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="remove-from-addresses-modal">حذف</a>
                                                    <span class="text-secondary mx-2">|</span>
                                                    <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="edit-address-modal">ویرایش</a>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <!--  user-address-item -->
                                </div>
                                <!--  user-address-items -->
                            </div>
                            <!--  tab-pane -->
                        </div>
                        <!--  tab-content -->
                    </div>
                </div>
                <!--  user-addresses -->
                <!-- shipment-type -->
                <div class="ui-box bg-white shipment-type mb-3">
                    <div class="ui-box-title">شیوه و زمان ارسال</div>
                    <div class="ui-box-content">
                        <!-- nav-tabs -->
                        <nav>
                            <div class="nav nav-tabs" id="shipping-type" role="tablist">
                                <button class="nav-link fs-6 fw-bold active" id="shipping-type-1-tab" data-bs-toggle="tab" data-bs-target="#shipping-type-1" type="button" role="tab" aria-controls="shipping-type-1" aria-selected="true">
                                    <span class="d-flex flex-column align-items-start">
                                        <span class="d-flex align-items-center"><i class="ri-lightbulb-line me-2"></i> پیشنهادی</span>
                                        <span class="fs-7 text-muted">چینش مرسوله ها به پیشنهاد ما</span>
                                    </span>
                                </button>
                                <button class="nav-link fs-6 fw-bold" id="shipping-type-2-tab" data-bs-toggle="tab" data-bs-target="#shipping-type-2" type="button" role="tab" aria-controls="shipping-type-2" aria-selected="false">
                                    <span class="d-flex flex-column align-items-start">
                                        <span class="d-flex align-items-center"><i class="ri-navigation-line me-2"></i> ارسال سریع</span>
                                        <span class="fs-7 text-muted">ارسال هر مرسوله به محض آماده شدن</span>
                                    </span>
                                </button>
                            </div>
                        </nav>
                        <!-- nav-tabs -->
                        <!-- tab-content -->
                        <div class="tab-content" id="shipping-type-tabContent">
                            <!-- tab-pane -->
                            <div class="tab-pane py-4 fade show active" id="shipping-type-1" role="tabpanel" aria-labelledby="shipping-type-1">
                                <!-- checkout-pack -->
                                <div class="checkout-pack">
                                    <div class="checkout-pack-header fa-num">
                                        <div class="checkout-pack-title">مرسوله ۱ از ۱</div>
                                        <div class="checkout-pack-detail">
                                            <span>۳ کالا</span>
                                            <span class="divider"></span>
                                            <span>تامین کالا از ۱ روز کاری آینده</span>
                                        </div>
                                        <div class="checkout-pack-subtitle">
                                            <i class="ri-truck-fill icon"></i>
                                            ارسال عادی
                                        </div>
                                    </div>
                                    <div class="checkout-pack-content">
                                        <!-- Slider main container -->
                                        <div class="swiper checkout-pack-swiper-slider mb-5 swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                                            <!-- wrapper -->
                                            <div class="swiper-wrapper" id="swiper-wrapper-e5e102138627dcb106" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                                                <!-- Slides -->
                                                <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 3" style="width: 192.5px; margin-left: 10px;">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/01.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #fad7c2;"></span>
                                                                <span class="ms-1">طلایی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 3" style="width: 192.5px; margin-left: 10px;">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/02.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #000;"></span>
                                                                <span class="ms-1">مشکی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" role="group" aria-label="3 / 3" style="width: 192.5px; margin-left: 10px;">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/03.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #000;"></span>
                                                                <span class="ms-1">مشکی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- navigation buttons -->
                                            <div class="swiper-button-prev swiper-button-disabled swiper-button-lock" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-e5e102138627dcb106" aria-disabled="true"></div>
                                            <div class="swiper-button-next swiper-button-disabled swiper-button-lock" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-e5e102138627dcb106" aria-disabled="true"></div>
                                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                        </div>
                                        <div class="d-flex align-items-center mb-4">
                                            <i class="ri-time-line text-muted me-2"></i> انتخاب زمان ارسال
                                        </div>
                                        <!-- Slider main container -->
                                        <div class="swiper checkout-time-swiper-slider mb-5 swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-rtl">
                                            <!-- wrapper -->
                                            <div class="swiper-wrapper" id="swiper-wrapper-6d9aa5cdf188da9e" aria-live="polite">
                                                <!-- Slides -->
                                                <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 5" style="margin-left: 10px;">
                                                    <div class="checkout-time fa-num">
                                                        <div class="checkout-time-label">چهارشنبه</div>
                                                        <div class="checkout-time-date">29 دی</div>
                                                        <div class="custom-radio-btn">
                                                            <input type="radio" class="custom-radio-btn-input" name="checkoutTime" id="checkoutTime01">
                                                            <label for="checkoutTime01" class="custom-radio-btn-label">
                                                                <span class="label">
                                                                    بازه 10 تا 23
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 5" style="margin-left: 10px;">
                                                    <div class="checkout-time fa-num">
                                                        <div class="checkout-time-label">پنج شنبه</div>
                                                        <div class="checkout-time-date">30 دی</div>
                                                        <div class="custom-radio-btn">
                                                            <input type="radio" class="custom-radio-btn-input" name="checkoutTime" id="checkoutTime02">
                                                            <label for="checkoutTime02" class="custom-radio-btn-label">
                                                                <span class="label">
                                                                    بازه 10 تا 23
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" role="group" aria-label="3 / 5" style="margin-left: 10px;">
                                                    <div class="checkout-time fa-num">
                                                        <div class="checkout-time-label text-danger">جمعه</div>
                                                        <div class="checkout-time-date">1 بهمن</div>
                                                        <div class="custom-radio-btn">
                                                            <input type="radio" class="custom-radio-btn-input" name="checkoutTime" id="checkoutTime03">
                                                            <label for="checkoutTime03" class="custom-radio-btn-label">
                                                                <span class="label">
                                                                    بازه 10 تا 23
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" role="group" aria-label="4 / 5" style="margin-left: 10px;">
                                                    <div class="checkout-time fa-num">
                                                        <div class="checkout-time-label">شنبه</div>
                                                        <div class="checkout-time-date">2 بهمن</div>
                                                        <div class="custom-radio-btn">
                                                            <input type="radio" class="custom-radio-btn-input" name="checkoutTime" id="checkoutTime04">
                                                            <label for="checkoutTime04" class="custom-radio-btn-label">
                                                                <span class="label">
                                                                    بازه 10 تا 23
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" role="group" aria-label="5 / 5" style="margin-left: 10px;">
                                                    <div class="checkout-time fa-num">
                                                        <div class="checkout-time-label">یکشنبه</div>
                                                        <div class="checkout-time-date">3 بهمن</div>
                                                        <div class="custom-radio-btn">
                                                            <input type="radio" class="custom-radio-btn-input" name="checkoutTime" id="checkoutTime05">
                                                            <label for="checkoutTime05" class="custom-radio-btn-label">
                                                                <span class="label">
                                                                    بازه 10 تا 23
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- navigation buttons -->
                                            <div class="swiper-button-prev swiper-button-disabled swiper-button-lock" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-6d9aa5cdf188da9e" aria-disabled="true"></div>
                                            <div class="swiper-button-next swiper-button-disabled swiper-button-lock" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-6d9aa5cdf188da9e" aria-disabled="true"></div>
                                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--  checkout-pack -->
                            </div>
                            <!--  tab-pane -->
                            <!-- tab-pane -->
                            <div class="tab-pane py-4 fade" id="shipping-type-2" role="tabpanel" aria-labelledby="shipping-type-2-tab">
                                <!-- checkout-pack -->
                                <div class="checkout-pack">
                                    <div class="checkout-pack-header fa-num">
                                        <div class="checkout-pack-title">مرسوله ۱ از ۱</div>
                                        <div class="checkout-pack-detail">
                                            <span>۳ کالا</span>
                                            <span class="divider"></span>
                                            <span>تامین کالا از ۱ روز کاری آینده</span>
                                        </div>
                                        <div class="checkout-pack-subtitle">
                                            <i class="ri-truck-fill icon"></i>
                                            ارسال عادی
                                        </div>
                                    </div>
                                    <div class="checkout-pack-content">
                                        <!-- Slider main container -->
                                        <div class="swiper checkout-pack-swiper-slider mb-5 swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                                            <!-- wrapper -->
                                            <div class="swiper-wrapper" id="swiper-wrapper-19d82f21dfa48e86" aria-live="polite" style="transition-duration: 0ms;">
                                                <!-- Slides -->
                                                <div class="swiper-slide">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/01.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #fad7c2;"></span>
                                                                <span class="ms-1">طلایی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/02.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #000;"></span>
                                                                <span class="ms-1">مشکی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/03.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #000;"></span>
                                                                <span class="ms-1">مشکی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- navigation buttons -->
                                            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-19d82f21dfa48e86" aria-disabled="false"></div>
                                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-19d82f21dfa48e86" aria-disabled="false"></div>
                                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                        </div>
                                        <div class="d-flex align-items-center mb-4">
                                            <i class="ri-time-line text-muted me-2"></i> انتخاب زمان ارسال
                                        </div>
                                        <!-- Slider main container -->
                                        <div class="swiper checkout-time-swiper-slider mb-5 swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-rtl">
                                            <!-- wrapper -->
                                            <div class="swiper-wrapper" id="swiper-wrapper-f17eff43a55a5989" aria-live="polite" style="transition-duration: 0ms;">
                                                <!-- Slides -->
                                                <div class="swiper-slide">
                                                    <div class="checkout-time fa-num">
                                                        <div class="checkout-time-label">چهارشنبه</div>
                                                        <div class="checkout-time-date">29 دی</div>
                                                        <div class="custom-radio-btn">
                                                            <input type="radio" class="custom-radio-btn-input" name="checkoutTime" id="checkoutTime06">
                                                            <label for="checkoutTime06" class="custom-radio-btn-label">
                                                                <span class="label">
                                                                    بازه 10 تا 23
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-time fa-num">
                                                        <div class="checkout-time-label">پنج شنبه</div>
                                                        <div class="checkout-time-date">30 دی</div>
                                                        <div class="custom-radio-btn">
                                                            <input type="radio" class="custom-radio-btn-input" name="checkoutTime" id="checkoutTime07">
                                                            <label for="checkoutTime07" class="custom-radio-btn-label">
                                                                <span class="label">
                                                                    بازه 10 تا 23
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-time fa-num">
                                                        <div class="checkout-time-label text-danger">جمعه</div>
                                                        <div class="checkout-time-date">1 بهمن</div>
                                                        <div class="custom-radio-btn">
                                                            <input type="radio" class="custom-radio-btn-input" name="checkoutTime" id="checkoutTime08">
                                                            <label for="checkoutTime08" class="custom-radio-btn-label">
                                                                <span class="label">
                                                                    بازه 10 تا 23
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-time fa-num">
                                                        <div class="checkout-time-label">شنبه</div>
                                                        <div class="checkout-time-date">2 بهمن</div>
                                                        <div class="custom-radio-btn">
                                                            <input type="radio" class="custom-radio-btn-input" name="checkoutTime" id="checkoutTime09">
                                                            <label for="checkoutTime09" class="custom-radio-btn-label">
                                                                <span class="label">
                                                                    بازه 10 تا 23
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-time fa-num">
                                                        <div class="checkout-time-label">یکشنبه</div>
                                                        <div class="checkout-time-date">3 بهمن</div>
                                                        <div class="custom-radio-btn">
                                                            <input type="radio" class="custom-radio-btn-input" name="checkoutTime" id="checkoutTime010">
                                                            <label for="checkoutTime010" class="custom-radio-btn-label">
                                                                <span class="label">
                                                                    بازه 10 تا 23
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- navigation buttons -->
                                            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-f17eff43a55a5989" aria-disabled="false"></div>
                                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-f17eff43a55a5989" aria-disabled="false"></div>
                                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--  checkout-pack -->
                                <!-- checkout-pack -->
                                <div class="checkout-pack">
                                    <div class="checkout-pack-header fa-num">
                                        <div class="checkout-pack-title">مرسوله ۱ از ۱</div>
                                        <div class="checkout-pack-detail">
                                            <span>۳ کالا</span>
                                            <span class="divider"></span>
                                            <span>تامین کالا از ۱ روز کاری آینده</span>
                                        </div>
                                        <div class="checkout-pack-subtitle">
                                            <i class="ri-truck-fill icon"></i>
                                            ارسال عادی
                                        </div>
                                    </div>
                                    <div class="checkout-pack-content">
                                        <!-- Slider main container -->
                                        <div class="swiper checkout-pack-swiper-slider mb-5 swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                                            <!-- wrapper -->
                                            <div class="swiper-wrapper" id="swiper-wrapper-3a354294977a2c20" aria-live="polite" style="transition-duration: 0ms;">
                                                <!-- Slides -->
                                                <div class="swiper-slide">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/01.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #fad7c2;"></span>
                                                                <span class="ms-1">طلایی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/02.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #000;"></span>
                                                                <span class="ms-1">مشکی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/03.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #000;"></span>
                                                                <span class="ms-1">مشکی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- navigation buttons -->
                                            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-3a354294977a2c20" aria-disabled="false"></div>
                                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-3a354294977a2c20" aria-disabled="false"></div>
                                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                        </div>
                                        <div class="d-flex align-items-center mb-4">
                                            <i class="ri-time-line text-muted me-2"></i> انتخاب زمان ارسال
                                        </div>
                                        <!-- Slider main container -->
                                        <div class="swiper checkout-time-swiper-slider mb-5 swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-rtl">
                                            <!-- wrapper -->
                                            <div class="swiper-wrapper" id="swiper-wrapper-e9ec732a698f5cf5" aria-live="polite" style="transition-duration: 0ms;">
                                                <!-- Slides -->
                                                <div class="swiper-slide">
                                                    <div class="checkout-time fa-num">
                                                        <div class="checkout-time-label">چهارشنبه</div>
                                                        <div class="checkout-time-date">29 دی</div>
                                                        <div class="custom-radio-btn">
                                                            <input type="radio" class="custom-radio-btn-input" name="checkoutTime" id="checkoutTime011">
                                                            <label for="checkoutTime011" class="custom-radio-btn-label">
                                                                <span class="label">
                                                                    بازه 10 تا 23
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-time fa-num">
                                                        <div class="checkout-time-label">پنج شنبه</div>
                                                        <div class="checkout-time-date">30 دی</div>
                                                        <div class="custom-radio-btn">
                                                            <input type="radio" class="custom-radio-btn-input" name="checkoutTime" id="checkoutTime012">
                                                            <label for="checkoutTime012" class="custom-radio-btn-label">
                                                                <span class="label">
                                                                    بازه 10 تا 23
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-time fa-num">
                                                        <div class="checkout-time-label text-danger">جمعه</div>
                                                        <div class="checkout-time-date">1 بهمن</div>
                                                        <div class="custom-radio-btn">
                                                            <input type="radio" class="custom-radio-btn-input" name="checkoutTime" id="checkoutTime013">
                                                            <label for="checkoutTime013" class="custom-radio-btn-label">
                                                                <span class="label">
                                                                    بازه 10 تا 23
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-time fa-num">
                                                        <div class="checkout-time-label">شنبه</div>
                                                        <div class="checkout-time-date">2 بهمن</div>
                                                        <div class="custom-radio-btn">
                                                            <input type="radio" class="custom-radio-btn-input" name="checkoutTime" id="checkoutTime014">
                                                            <label for="checkoutTime014" class="custom-radio-btn-label">
                                                                <span class="label">
                                                                    بازه 10 تا 23
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-time fa-num">
                                                        <div class="checkout-time-label">یکشنبه</div>
                                                        <div class="checkout-time-date">3 بهمن</div>
                                                        <div class="custom-radio-btn">
                                                            <input type="radio" class="custom-radio-btn-input" name="checkoutTime" id="checkoutTime015">
                                                            <label for="checkoutTime015" class="custom-radio-btn-label">
                                                                <span class="label">
                                                                    بازه 10 تا 23
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- navigation buttons -->
                                            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-e9ec732a698f5cf5" aria-disabled="false"></div>
                                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-e9ec732a698f5cf5" aria-disabled="false"></div>
                                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--  checkout-pack -->
                            </div>
                            <!--  tab-pane -->
                        </div>
                        <!--  tab-content -->
                    </div>
                </div>
                <!--  shipment-type -->
                <a href="#" class="link border-bottom-0">
                    <i class="ri-arrow-right-s-fill"></i> بازگشت به سبد
                    خرید
                </a>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="ui-sticky ui-sticky-top">
                    <!-- checkout-bill -->
                    <div class="checkout-bill ui-box bg-white mb-5">
                        <div class="checkout-bill-row">
                            <div class="checkout-bill-row-label">قیمت کالاها (۴)</div>
                            <div class="checkout-bill-row-value">
                                <span class="fs-6">۴۲,۴۲۰,۰۰۰</span> <span class="currency">تومان</span>
                            </div>
                        </div>
                        <div class="checkout-bill-row">
                            <div class="checkout-bill-row-label">تخفیف کالاها</div>
                            <div class="checkout-bill-row-value">
                                <span class="fs-6 text-danger">۵,۰۰۰</span>
                                <span class="currency text-danger">تومان</span>
                            </div>
                        </div>
                        <div class="checkout-bill-row">
                            <div class="checkout-bill-row-label">جمع سبد خرید</div>
                            <div class="checkout-bill-row-value">
                                <span class="fs-6">25,800,000</span> <span class="currency">تومان</span>
                            </div>
                        </div>
                        <div class="checkout-bill-row checkout-bill-note">
                            هزینه‌ی ارسال در ادامه بر اساس آدرس، زمان و نحوه‌ی ارسال انتخابی شما‌ محاسبه و به
                            این مبلغ اضافه خواهد شد
                        </div>
                        <div class="checkout-bill-row checkout-bill-action">
                            <a href="payment.html" class="btn btn-block btn-primary">ادامه فرایند خرید</a>
                        </div>
                        <div class="checkout-bill-row checkout-bill-footer">
                            <div class="checkout-bill-row-label">
                                <span class="d-flex">
                                    <i class="ri-copper-coin-fill text-warning me-1"></i>
                                    <span class="fs-7">امتیاز باشگاه مشتریان</span>
                                </span>
                            </div>
                            <div class="checkout-bill-row-value">۱۵۰ <span class="fs-7 fw-bold text-muted">امتیاز</span></div>
                        </div>
                    </div>
                    <!--  checkout-bill -->
                    <!-- widget -->
                    <div class="widget p-0">
                        <div class="widget-content widget--free-shipping">
                            <div class="free-shipping--detail">
                                <div class="title">ارسال رایگان سفارش</div>
                                <div class="subtitle">سفارش‌های بالای 500 هزار تومان</div>
                            </div>
                            <div class="free-shipping--banner">
                                <img src="./assets/images/theme/free-shipping--banner.png" alt="ارسال رایگان سفارش">
                            </div>
                        </div>
                    </div>
                    <!--  widget -->
                </div>
            </div>
        </div>
    </div>
</main>